{% extends 'base.html' %}

{% block content %}

<br>
<div class="inhaltsverzeichnis">
  <div class="inhalt-titel">
    <h1>About</h1>
    <br>
  </div>
  

    <p>Welcome to the Friendship Book. This is a place where my friends can introduce themselves by making a post. It is based on the idea of a traditional friendship book, where people write fun facts about themselves and answer questions.<br><br> Each friend can create one post, and they can update it whenever they want. A post includes:<br><br></p>
    <ul class="nes-list is-circle">
        <li>A self-drawn portrait</li>
        <li>Basic details like age, gender, and favorite color</li>
        <li>Answers to a few interesting questions</li>
    </ul>
    <br>

    </p>Preview:</p>
    <a href="{{url_for('index')}}"> Inhaltsverzeichnis </a>
</div>

<div class="about-me">

</div>

{% endblock %}
