<!-- Navigation bar with all links: Home, Create/Edit, Logout, and displays the logged-in username -->
<!-- this is the skeleton of each template! -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Flask App</title>
  </head>
  <body>
    <nav>      
      <!--user is logged in-->
      {% if 'username' in session %}

        <a href="{{ url_for('index') }}">Home</a>

        <!-- Dynamically display 'Edit Post' or 'Create Post' based on has_post -->
        <a href="{{ has_post and url_for('edit_post') or url_for('post') }}">
          {{ has_post and 'Edit Post' or 'Create Post' }}
        </a>

        <a href="{{ url_for('logout') }}">Logout</a>
        <!-- Display the logged-in user's username -->
        <span>Logged in as: {{ session['username'] }}</span>

      <!--user is not logged in-->
      {% else %}
        <a href="{{ url_for('landing') }}">Go Back</a>
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('register') }}">Register</a>
      {% endif %}
    </nav>
    
    <hr>
    
    {% block content %}{% endblock %}
  </body>
</html>
