{% extends 'base.html' %}
{% block content %}
<div style="margin-left: 20px; margin-right: 10vw; " class="create-post">
    <div class="delete">
        <br>
        <h2 class="title">Delete Account</h2>
        <br>
        <p>Are you sure you want to delete your account?</p>
        <p>You have two options:</p>
        <ul>
            <li>Deactivate your account: You can come back and reactivate it anytime.</li>
            <li>Delete your account permanently: All your data will be removed.</li>
        </ul>
        <form method="POST">
            <button type="submit" class="nes-btn is-primary" name="action1" value="deactivate">Deactivate Account</button>
            <button type="submit" class="nes-btn is-error" name="action1" value="delete">Delete Permanently</button>
        </form>
    </div>
</div>
{% endblock %}
