{% extends 'base.html' %}

{% block content %}
<!-- das ist der code wenn der einzelne post angezeigt wird auf der route /buchseite/username -->
{% if post %}
  <h2>{{ username }}'s Post</h2>
  <div>
    <p>{{ post['content'] }}</p>
  </div>

  <!-- forward und backward button -->
  <div>
    {% if prev_username %}
      <a href="{{ url_for('show_post', username=prev_username) }}">Rückwärts</a>
    {% endif %}

    {% if next_username %}
      <a href="{{ url_for('show_post', username=next_username) }}">Vorwärts</a>
    {% endif %}
  </div>

<!-- inhaltsverzeichnis mit allen posts und ihren links -->
{% elif posts %}
  <h2>Posts</h2>
  <ul>
    {% for post in posts %}
      <li>
        <a href="{{ url_for('show_post', username=post['username']) }}">
          {{ post['username'] }}'s Post
        </a> (posted on: {{ post['created_at'] }})
      </li>
    {% endfor %}
  </ul>

<!-- If no posts are available, show a message -->
{% else %}
  <p>No posts available</p>
{% endif %}

{% endblock %}
