{% extends 'base.html' %}

{% block content %}

<!-- inhaltsverzeichnis mit allen posts und ihren links -->
{% if posts %}
  <h2>Posts</h2>
  <ul>
    <!--loop: for each post it executes the post hyperlink and date-->
    {% for post in posts %}
      <li>
        <!--hyperlink for the post-->
        <a href="{{ url_for('show_post', username=post['username']) }}">
          {{ post['username'] }}'s Post
        </a> (posted on: {{ post['created_at'] }}) <!--date after the hyperlink of the post-->
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No posts available</p>
{% endif %}

{% endblock %}
