<!-- Navigation bar with all links: Home, Create/Edit, Logout, and displays the logged-in username -->
<!-- this is the skeleton of each template! -->
<!doctype html>
<html lang="en">
  <head>
    <!-- NES.css CDN -->
    <link href="https://unpkg.com/nes.css/css/nes.min.css" rel="stylesheet" />
    <!-- Optional: Include a font for better text appearance -->
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!--ensures that the webpage is rendered correctly on different devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Flask App</title>
  </head>
  <body class="body1 {% if request.endpoint == 'show_post' %}userpage-body{% else %}otherpage-body{% endif %}">
  
    <div class="willkommen">
      <div class="landing-title">
        <h1><mark>Let's become Friends!</mark></h1>
      </div>
      <br>
      <div class="landing-buttons nes-container">
        <div class="signin">
          <h2>Sign-In</h2>     
          <a class="nes-btn is-primary" href="{{ url_for('login') }}">log In</a>
        </div>
        <div class="about">
          <h2>About</h2>     
          <a class="nes-btn is-normal" href="{{ url_for('about') }}">About</a>
        </div>
        <div class="signup">
          <h2>Sign-Up</h2>     
          <a class="nes-btn is-success" href="{{ url_for('register') }}">Sign Up</a>
        </div>
      </div>
    </div>    
  </body>
</html>
