{% extends 'base.html' %}

{% block content %}

<div class="body2">
  <!-- Display the error message if it's set -->
  {% if error_message %}
    <div class="error-message nes-balloon from-right">
      <p style="color: red;">{{ error_message }}</p>
    </div>
  {% endif %}
  <div class="login nes-container">
    <div class="login-title">
      <h2>Login</h2>
      <br>
    </div>
    <form method="post">
      <div>
        <label for="username_or_email">Username or Email:</label><br>
        <input class="nes-input" type="text" id="username_or_email" name="username_or_email" required><br><br>
        <label for="password">Password:</label><br>
        <input class="nes-input" type="password" id="password" name="password" required><br><br>
      </div>
      <div class="login-button">
        <input class="nes-btn is-primary" type="submit" value="Login">
      </div>
    </form>
    <div class="deleted">
      <!--link to reactivate a previousily deleted account-->
        <p>Forgot your Password? <br><a href="{{ url_for('reset_password') }}">Reset your Password here!</a></p>
    </div>

  </div>
</div>

{% endblock %}
