{% extends 'base.html' %}

{% block content %}

<div class="body2">
  <!-- Display the error message if it's set -->
  {% if error_message %}
    <div class="error-message nes-balloon from-right">
      <p style="color: red;">{{ error_message }}</p>
    </div>
  {% endif %}
  <div class="login nes-container">
    <div class="login-title">
      <h2>Login</h2>
      <br>
    </div>
    <form method="post">
      <div>
        <label for="username">Username:</label><br>
        <input class="nes-input" type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label><br>
        <input class="nes-input" type="password" id="password" name="password" required><br><br>
      </div>
      <div class="login-button">
        <input class="nes-btn is-primary" type="submit" value="Login">
      </div>
    </form>
    <div class="deleted">
      <!--link to reactivate a previousily deleted account-->
        <p>Deleted your account? <br><a href="{{ url_for('reactivate_account') }}">Reactivate your account here!</a></p>
    </div>
  </div>
</div>

{% endblock %}
