{% extends 'base.html' %}

{% block content %}

<h1>Admin</h1>

{% if inactive_users %}
<div class="inactive">
    <h3>Inactive Users (is_active = 0)</h3>
    <table style="border:3px solid black">
        <tr>
          <th>Username</th>
          <th>Action</th>
          <th>Deletion-Button<th>
        </tr>

        {% for user in inactive_users %}
          <tr>
            <td>{{ user['username'] }}</td>
            <td>kei ahnig</td>
            <td>...</td>

          </tr>
        {% endfor %}

        <tr>
            <td>...</td>
            <td>...</td>
            <td>...</td>


</div>

{% else %}
  <p>There are no inactive users at this time.</p>
{% endif %}

<br>

<!--
<div class="waiting">
    <h3>Accounts on Demand (is_active = -1)</h3>
    <table style="border:3px solid black">
        <thead>
          <tr>
            <th>Username</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for user in waiting_users %}
            <tr>
              <td>{{ user['username'] }}</td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
</div>
-->

{% endblock %}
