{% extends 'base.html' %}

{% block content %}
<h2>Register</h2>

<!-- Display the error message if it's set -->
{% if error_message %}
  <p style="color: red;">{{ error_message }}</p>
{% endif %}

<form method="post">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required><br><br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required><br><br>
  <input type="submit" value="Register">
</form>

<p>Deleted your account? <a href="{{ url_for('reactivate_account') }}">Reactivate your account here</a></p>

{% endblock %}
